.content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

hero-msg h1 {
    text-align: center;
}

hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#3e5c76
}

body {
    background-color:#748cab;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#3e5c76
}

nav a:hover {
    background-color:#f0ebd8;
    color: black;
}


.book:hover {
    background-color:#f0ebd8;
    color: black;
}

.join:hover {
    background-color:#748cab;
    color: black;
}

.msg {
    background-color:#f0ebd8;
    line-height: 1.5em;
    padding: 35px;
    border-radius: 10px;
}

footer {
    background-color:#748cab;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: black;
    text-align: center;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
    text-align: center;
}

.book,  .join {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.msg h2 {
    color: black;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.card-img {
    width: 30%;
    border: 10px solid #f0ebd8;


}

.mountains {
    width: 40%;
}

h2 {
    margin: 0;
}

.rivers-card {
    margin: 200px 0;
    border-radius: 5px;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
    
}
